html{background-color: rgb(255,255,204);
		font-family: 'Comic Sans MS';
		background-image: url("../images/TUS_Logo.png");
		background-size: 250px 250px;
		background-repeat: no-repeat;
		background-position: 90% 100px;
}
table{
	margin: 0 auto;
	width: 100%;
}
